/* Edit your Navbar here */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.header img {
  width: 75px;
  padding: 10px 10px;
  float: left;
}

li {
  float: left;
}

.logo {
  float: left;
  max-width: 200px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}


/* Edit your Footer here */
.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  background-color: grey ;
  bottom: 0;
  left: 0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
body {
  background-color: darkgray;
}

.header-section {
  display: inline-block;
}
ul{
  padding: 0;
  margin: 0;
}
.nav-btn {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
  text-decoration-color: lightblue; 
}
.nav-link{
  color: black;
  text-decoration: none;
}
.banner-button{
  text-align: center;
  border-radius: 100px;
}

.React{
  text-align: center;
  background-color: white;
  border-radius: 200px;
  width: 100px;
/*       margin-bottom: 50px; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.Comment{
  text-align: center;
  background-color: white;
  border-radius: 200px;
  width: 100px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

}
h1{
  text-size: 40px;
  text-align: center;
  color: white;
}
.header{
   text-size: 40px;
  text-align:center;
  color: white;
  padding-left: 500px;
  Padding-right: 500px;
}
iframe{
  display: block;
margin-left: auto;
margin-right: 350px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  max-height: 450px;
  margin-bottom: 50px;
}

.title {
  color: grey;
  font-size: 18px;
  
}


.flex-section {
  display: flex;
  justify-content: center;
}